<div class="row">
  <div class="col-md-12">
    <p class="lead">{{ formTitle }}</p>

    <!-- ngModelOptions, standalone używamy gdy inputy z ngModel są wewnątrz znacznika <form> -->
    <!-- <form>
        <div class="mb-3">
          <label class="form-label">Tytuł</label>
          <input type="text" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label class="form-label">Opis</label>
          <textarea class="form-control" rows="5" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->

    <!-- <div class="mb-4">
      <div class="mb-3">
        <label class="form-label">Tytuł</label>
        <input type="text" class="form-control" [(ngModel)]="title">
      </div>
      <div class="mb-3">
        <label class="form-label">Opis</label>
        <textarea class="form-control" rows="5" [(ngModel)]="description"></textarea>
      </div>
      <button class="btn btn-primary" (click)="ngModelFormSubmit()">Submit</button>
    </div> -->

    <!-- <hr>

    <div class="mb-4">
      <div class="mb-3">
        <label class="form-label">Tytuł</label>
        <input type="text" class="form-control" [(ngModel)]="task.title">
      </div>
      <div class="mb-3">
        <label class="form-label">Opis</label>
        <textarea class="form-control" rows="5" [(ngModel)]="task.description"></textarea>
      </div>
      <button class="btn btn-primary" (click)="ngModelForm2Submit()">Submit</button>
    </div>

    <hr> -->

    <form (ngSubmit)="formGroupSubmit()" [formGroup]="form">
      <div class="mb-3">
        <label class="form-label">Tytuł</label>
        <input type="text" class="form-control" formControlName="title">
        <small class="form-text text-danger" *ngIf="form.get('title')?.errors?.['required']">
          Pole jest wymagane
        </small>
        <small class="form-text text-danger" *ngIf="form.get('title')?.errors?.['email']">
          Pole musi być mailem
        </small>
      </div>
      <div class="mb-3">
        <label class="form-label">Opis</label>
        <textarea class="form-control" rows="5" formControlName="description"></textarea>
        <small class="form-text text-danger" *ngIf="form.get('description')?.errors?.['required']">
          Pole jest wymagane
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>